.App {
  text-align: center;
}

.heading {
  color: rgb(28, 48, 28);
}

body {
  background-color: rgb(226, 250, 226);
}

.input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.btn {
  border-radius: 5px;
  padding: 10px;
  border: none;
  background-color: rgb(106, 167, 148);
}

.copy {
  color: white
}

.formcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  max-width: 350px;
  margin: auto;
  margin-top: 50px;
}

.text {
  padding: 15px;
}

.result{
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  max-width: 350px;
  margin: auto;
  margin-top: 20px;
}